<!DOCTYPE html>
<html>
  <head>
    <title>Fullcalender</title>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
